<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>NFC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button (click)="callNfc()" type="submit" expand="block">Play</ion-button>
    <ion-button (click)="addListener()" type="submit" expand="block">Add Listener</ion-button>
    <ion-button (click)="write()" type="submit" expand="block">Write</ion-button>
    <ion-button (click)="share()" type="submit" expand="block">Share</ion-button>
    <ion-button (click)="showSettings()" type="submit" expand="block">showSettings</ion-button>
    <ion-button (click)="enabled()" type="submit" expand="block">enabled</ion-button>
    <ion-button (click)="beginSession()" type="submit" expand="block">begin session</ion-button>
  </div>
</ion-content>
