<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/family-details"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Family Member</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queryText" (ionChange)="search()" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let member of membersSubject | async">
    <ion-card-header>
      <ion-item >
        <ion-img [src]="member.imageUrl" [alt]="member.username + ' picture'" style="width: 40px; height: 40px;"></ion-img>
        <ion-label class="ion-text-center">{{member.username}}</ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-row class="ion-no-padding ion-justify-content-center">
        <ion-col  class="ion-text-center">
          <ion-button color="primary" (click)="addToFamily(member)">
            Add to family
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
